 <div>
    <p>Hi <%= comment.user.name %>!</p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.comment %></strong> just got published on codeal .</p>
    <br>
    <br>
    <p>Thanks!</p>
 </div>